:root {
    --gradient: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871, #ffc75f, #ff9671, #ff6f91, #d65db1, #845ec2);
    --gradient-darkblue: linear-gradient(45deg, #080C2Fff,#0E1843ff,#142356ff,#1A2F6Aff,#1F3A7Dff,#254691ff,#2B51A4ff);
}

html, body {
    height: 100%;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    color: #fff;
    background: var(--gradient-darkblue);
    background-size: 400% 400%;
    animation: bg-animation 300s ease infinite;
    height: 100vh;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}